.container {
  background-color: var(--comp-background);
  border-radius: 10px;
  padding: 1em;
  display: flex;
}

.objects {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
  }
  .objects {
    width: 100%;
  }
}
