.container-counter {
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  margin: 8px 0;
}

.boton {
  width: 80%;
  font-weight: 600;
  font-size: 1em;
}

.boton:hover {
  background-color: rgba(253, 155, 68, 0.5);
}

.counter {
  background-color: var(--primary-color);
  width: 80%;
  padding: 0.3em;
  margin: 0;
  border-left: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  justify-content: center;
}
